!!!
html
  head
    meta(HTTP-EQUIV='Pragma',CONTENT='no-cache')
    meta(http-equiv='Cache-Control',content='no-cache')
    title test
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui.css')
  body!= body